body {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#canvas, #video {
    width: 100%;
    height: auto;
}

#output {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}

#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    width: 480px;
}

#gallery img {
    width: 100px;
    height: auto;
}

#myDiv .canvas, #myDiv .overlay, #myDiv .paper {
    position: absolute;
    width: 480px;
    height: 480px;
}

#myDiv .canvas {
    z-index: 20;
    filter: brightness(200%);
    mix-blend-mode: darken;
}

#myDiv .overlay {
    z-index: 25;
}

#myDiv .paper {
    z-index: 1;
}
