body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#canvas, #video {
    width: 100%;
    height: auto;
}

#output {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}

#gallery {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
}

#gallery img {
    width: 100px;
    height: auto;
}


.canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 480px !important;
    height: 480px !important;
    pointer-events: none;
    z-index: 20;
    filter: brightness(200%);
    mix-blend-mode: darken;
}


.paper {
    width: 480px !important;
    height: 480px !important;
    position: absolute;
    z-index: 1;
}