body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('bg1.png');
    min-height: 100%;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('Nashville-z8w0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#output {
    display: flex;
    font-family: 'MyCustomFont', Arial, sans-serif;
    color: darkred;
    z-index: 30;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 0.67em 0;
    width: 100%;
}

#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

#gallery img {
    width: 100px;
    height: auto;
    filter: sepia(1);
}

#video {
    z-index: 1;
    filter: sepia(1);
    mix-blend-mode: darken;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mask-image: url('mask.png');
    mask-mode: alpha;
    mask-size: cover;
}

.mycustom-container {
    max-width: 600px;
}

.custom-j {
    aspect-ratio: 1/1;
    /*background: url("paper.png");*/

    display: grid;
    grid-template-columns: 1fr;
}

.custom-j div {
    grid-row-start: 1;
    grid-column-start: 1;
}

.paper {
    width: 100%;
    height: 100%;
    z-index: 100;
}

#hand {
    width: 100%;
    height: 100%;
    z-index: 100;
}

